* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;


}

#homeclr {
    color: #14BF98;
}

.background1 {
    width: 100%;
    background-image: url("./assets/header-background.jpg");
    height: 100vh;
}

.backgroundclr {
    background-color: #fff;
}

.nav-item a {
    color: white;
    font-weight: 500;

}

.nav-item {
    margin: 0px 10px;
}

.nav-item a:hover {
    color: #14BF98;
}

.icon a {
    color: white;
    background-color: #14BF98;
    font-size: 25px;
    padding: 7px 15px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.icon a:hover
{
    background-color: transparent;
}
.container-fluid .navbar-brand img {

    width: 100px;
    height: 100px;
}

.starthead {
    margin-top: 15%;
}

.starthead h1 {
    font-size: 60px;
    color: white;
    font-weight: 700;
}

.starthead p {
    color: white;

    margin: 20px 0px 30px 30%;
    font-weight: 600;
    width: 608px;
}

.discover a {
    color: white;
    padding: 15px 35px;
    border-radius: 7px;
    text-decoration: none;
    background-color: #14BF98;
    margin-top: 40px;
    font-weight: 600;
}

.swingimage {
    width: 100%;
}

.swingimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swingimage:hover {
    transform: scale(1.02);
    transition: 0.7s ease-in-out;
}

.swing {
    margin-top: 8%;
}

#intro {
    color: #14BF98;
    font-weight: 500;
}

#italic {
    font-style: italic;
}

.swing1 h1 {
    font-weight: 600;
}

.icon1 {
    color: #fff;
    position: absolute;
    top: 1440px;
    left: 184px;
    font-size: 38px;
    z-index: 1;
}

.icon2 {
    color: white;
    position: absolute;
    top: 1440px;
    left: 1060px;
    font-size: 38px;
    z-index: 1;
}

.icon3 {
    color: white;
    position: absolute;
    top: 1440px;
    left: 620px;
    font-size: 38px;
}

.binocular {
    margin-top: 5%;
}

.binocular h3 {
    margin: 15px 0px;
}

.develop {
    position: relative;
}

.suitimage {
    width: 100%;
}

.suitimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card i {
color: #14BF98;
margin-right: 8px;
}

.card span {
    color: #14BF98;
    font-weight: 700;
}

.detail1 a {
    text-decoration: none;
    color: white;
    padding: 15px 40px;
    background-color: #14BF98;
    border-radius: 10px;
    position: absolute;
    top: 484px;
    left: 130px;
}

.detail2 a {
    text-decoration: none;
    color: white;
    padding: 15px 40px;
    background-color: #14BF98;
    border-radius: 10px;
    position: absolute;
    top: 484px;
    left: 130px;
}

.detail3 a {
    text-decoration: none;
    color: white;
    padding: 15px 40px;
    background-color: #14BF98;
    border-radius: 10px;
    position: absolute;
    top: 484px;
    left: 130px;
}

.detail1 a:hover {
    background-color: #fff;
    color: #14BF98;
    border: 2px solid #14BF98;
}

.detail2 a:hover {
    background-color: #fff;
    color: #14BF98;
    border: 2px solid #14BF98;
}

.detail3 a:hover {
    background-color: #fff;
    color: #14BF98;
    border: 2px solid #14BF98;
}

.services {
    position: relative;
    background-color: rgb(254, 248, 248);
    padding: 50px 0px;
}

.services h3 {
    text-align: center;
    font-size: 18px;
    color: #14BF98;
    margin-top: 10%;
    /* background-color: white; */
}

#choose {
    text-align: center;
    margin-bottom: 30px;
}

.accer {
    margin-top: 128px;
}

.accerimage {
    width: 100%;
}

.accer2 {
    width: 83%;
    padding: 47px;
}

.accerimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .help p{
    margin-left: 10px;
   
} */
#buisness1 {
    color: #14BF98;
    font-weight: 700;
}

.buisness2 {
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

.buisness2:hover {
    color: #14BF98;
}

.helpone {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #14BF98;
    color: white;

}

.helpone span {
    margin-left: 10px;
    margin-top: 3px;
}

.concept {
    color: grey;
    margin-left: 46px;

}

.accer2 h4 {
    margin-top: 34px;
    margin-bottom: 20px;
    font-size: 30px;
}

.helptwo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    color: black;
    border: 2px solid #000;

}

.helptwo span {
    margin-left: 10px;
    margin-top: 3px;
}

.accerimage2 {
    width: 100%;
    margin: 78px 1px 1px -23px;
}

.accerimage2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quality {
    margin-top: 60px;
    padding: 0px 163px;
}

.progress .progress-bar {
    background-color: #14BF98;
}

.express {
    text-decoration: none;
    color: gray;
    font-weight: 700;
    font-size: 20px;
}

.express:hover {
    color: #14BF98;
}

#bus {
    text-decoration: none;
    color: #14BF98;
    font-weight: 700;
    font-size: 20px;
}

.bar p a {

    color: #14BF98;
}

.testimonal {
    text-align: center;
    margin-top: 80px;
}

.testimonal1 {
    margin-top: 30px;
}

.testimonalimage {
    width: 150px;
    height: 150px;
    margin: auto;

}

.testimonalimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.card-text {
    font-style: italic;

}

.callme {
    background-color: rgb(14, 14, 47);
    padding-top: 85px;
    height: 600px;
    margin-top: 70px;
}

.callme span {
    color: #14BF98;
}

.callme h1 {

    color: white;
    font-size: 30px;
    margin: 15px 0px 30px 0px;
}

.callme p {
    color: rgb(114, 112, 112);


}

.call1 i {
color: #14BF98;
margin-right: 8px;
}

.calling {
    text-align: center;
    margin-top: 33px;
}

.calling a {
    text-decoration: none;
    color: white;
    background-color: #14BF98;
    padding: 16px 283px;
    border-radius: 20px;
    border: 2px solid transparent;

}

.calling a:hover {
    background-color: transparent;
    border: 2px solid #14BF98;
    transition: 0.6s ease-in-out;
}

.form-control {
    background-color: rgb(234, 230, 230);
    color: white;
    border: 2px solid transparent;
}

.form-control:hover {
    border: 2px solid rgb(241, 238, 238);
    background-color: white;
    transition: 0.5s ease-in-out;

}
.project  
{
    text-align: center;
    color: #000;
    margin-top: 10%;
}
.project h5
{
    color: #14BF98;
    margin: 20px 0px;
}
.show p
{
    background-color: #EADFB4;
    color: gray;
    /* width: 109px; */
    height: 40px;
    padding: 7px 15px;
    border-radius: 10px;
    text-align: center;
}
.show p:hover
{
    background-color: #14BF98;
    color: #fff;
}

.one p
{
    background-color: #14BF98;
    color: #000;
    text-align: center;
    /* width: 105px; */
    height: 40px;
    padding: 7px 20px;
    border-radius: 10px;
}

.main-image img
{
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
}

.main-image
{
    width: 330px;
    height: 250px;
    position: relative;
    overflow: hidden;

}
.main-image::before
{
    content: "";
    position: absolute;
    z-index: 1;
    width: 0px;
    height: 0px;
    top: 50%;
    left: 50%;
    /* transition: all 1s ease-in; */
    
}
.main-image:hover::before
{
    background-color: rgba( 0, 0, 0, 0.5);
    width: 99%;
    height: 100%;
    top: 0;
    left: 0;

}
.main-image:hover img
{
    transform: scale(1.2);
    
}

.heading h2
{
    position: absolute;
    top: 100px;
    left: 40px;
    color: rgb(214, 214, 214);
    transition:  all 4s ease-in-out;
    

    display: none;
}
.main-image:hover .heading h2
{
    display: block;

    transition-delay: 10s;
    z-index: 2;
}
.consolt
{
    text-align: center;
    margin-top: 15%;
}
.long p
{
    color: grey;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.facebook 
{
    text-align: center;
}  
.facebook i
{
    color: #fff;
    padding-left: 10px;
}
.facebook i:hover 
{
    color: #000;
}
.team img
{
    width: 270px;
    height: 270px;
    overflow: hidden;
    transition: all 1s ease-in-out;
}
.team img:hover
{
    transform: scale(1.1);
}
.single 
{
    display: flex;
}
.single .sub-singleone
{
    font-size: 50px;
    color: #14BF98;
    font-weight: 500;
}
.single .sub-singletwo
{
    margin-top: 15px;
    margin-left: 5px;
    color: grey;
}


.touch{
    background-color: transparent;
}
.six
{
    margin-top: 30px;
}
.peragraph 
{
    text-decoration: underline !important;
}
.last
{
    background-color: rgb(14, 14, 47);
    color: #fff;
}
.last a
{
    text-decoration: none;
    color: #fff;

}
.last p
{
    text-decoration: underline;
}
.last-peragarph
{
    text-align: center;
    padding-bottom: 30px;

}
.last-peragarph p
{
    text-decoration: none;
}